<!--<link rel="stylesheet" href="../bootstrap-3.3.0/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="../css/addNew.css">-->
<!--<script src="../jquery-3.1.1.js"></script>-->

<!--<form name="eventForm">-->
    <!--name: <input name="name" ng-model="event.name">-->
<!--</form>-->
<!--<div ng-messages="eventForm.$error">-->
    <!--<div ng-message-exp="['minlength', 'maxlength']">-->
        <!--The event name should be between 50 and 100 characters-->
    <!--</div>-->
<!--</div>-->






<div class="row clearfix">
    <form name="addNewForm" novalidate>
    <div class="col-lg-12 addNew-wrapper">
        <div class="row clearfix"><!---头-->
            <div class="col-lg-12 addNew-header">新增页面</div>
        </div>
        <div class="row clearfix">
            <div class="col-12-xs addNew-list-wrapper"><!--列表wrapper-->

                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">姓名：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="name" type="text" name="name" required
                               ng-minlength="2" ng-maxlength="5" ng-pattern="/^[\u4e00-\u9fa5]{2,5}$/"
                        >

                        <span ng-messages="addNewForm.name.$error" ng-if="addNewForm.name.$dirty" class="addNew-form-alert">
                                <span ng-message="required">这是必填项</span>
                                <span ng-message="minlength">最小长度：2</span>
                                <span ng-message="maxlength">最大长度：5</span>
                                <span ng-message="pattern">格式：2-5个汉字</span>
                        </span><p>{{ addNewForm.name.$error}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">QQ：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="QQ" type="text" name="QQ" required   placeholder="6-15位数字"
                            ng-minlength="6" ng-maxlength="15" ng-pattern="/^\w{6,15}$/"
                        >
                        <span ng-messages="addNewForm.QQ.$error" ng-if="addNewForm.QQ.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                            <span ng-message="minlength">最小长度：6</span>
                            <span ng-message="maxlength">最大长度：15</span>
                            <span ng-message="pattern">格式：6-15位数字</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">修真类型：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="type" value="1" type="radio" name="type" required>CSS</label>
                        <label><input ng-model="type" value="2" type="radio" name="type" required>JS</label>
                        <label><input ng-model="type" value="3" type="radio" name="type" required>JAVA</label>
                        <label><input ng-model="type" value="4" type="radio" name="type" required>运维</label>
                        <label><input ng-model="type" value="5" type="radio" name="type" required>DBA</label>
                        <label><input ng-model="type" value="6" type="radio" name="type" required>产品</label>
                        <label><input ng-model="type" value="7" type="radio" name="type" required>IOS</label>
                        <label><input ng-model="type" value="8" type="radio" name="type" required>ANDROD</label>
                        <span ng-messages="addNewForm.type.$error" ng-if="addNewForm.type.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">毕业院校：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="school" type="text" name="school">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">资质：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="talent" value="1" type="radio" name="talent" required>学霸</label>
                        <label><input ng-model="talent" value="2" type="radio" name="talent" required>学渣</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">修行等级：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="level" type="radio" value="1" name="level" required>0基础</label>
                        <label><input ng-model="level" type="radio" value="2" name="level" required>修行3个月以内</label>
                        <label><input ng-model="level" type="radio" value="3" name="level" required>修行6个月以内</label>
                        <label><input ng-model="level" type="radio" value="4" name="level" required>修行一年以内</label>
                        <label><input ng-model="level" type="radio" value="5" name="level" required>修行三年以内</label>
                        <label><input ng-model="level" type="radio" value="6" name="level" required>修行三年以上</label>
                        <span ng-messages="addNewForm.level.$error" ng-if="addNewForm.level.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">预计入学时间：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="joinTime" type="date" name="type" required class="addNew-list-joinTime">
                        <span ng-messages="addNewForm.joinTime.$error" ng-if="addNewForm.joinTime.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">修行立愿：</div>
                    <div class="col-xs-10 addNew-list"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <!--<textarea class="textarea" ng-model="wish">富文本编辑器</textarea>-->

                        <script type="text/plain" id="myEditor" style="width:90%;height:240px;">
                            <p>这里我可以写一些输入提示</p>
                        </script>

                        <script type="text/javascript">
                            //实例化编辑器
                            var um = UM.getEditor('myEditor');
                        </script>





                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">{{addNewForm.$valid}}
                        <button class="btn btn-default addNew-confirm-btn" ng-click="confirm()" ng-disabled="addNewForm.$invalid">确认</button>
                    </div>
                    <div class="col-xs-10 addNew-list">
                        <button class="btn btn-default addNew-cancel-btn" ng-click="toLastPage()">取消</button>
                    </div>
                </div>
                <div class="bottom-1"> </div>
            </div>
        </div>
    </div>

</form>
</div>



<!--
name
string
添加的学员姓名
qq
string
qq号码
type
number
修真类型
school
string
毕业院校
talent
number
资质
level
number
修行等级
joinTime
number
预计入学时间
wish
string
修行立愿-->








