<!--<link rel="stylesheet" href="../bootstrap-3.3.0/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="../css/addNew.css">-->
<!--<script src="../jquery-3.1.1.js"></script>-->

<!--<form name="eventForm">-->
    <!--name: <input name="name" ng-model="event.name">-->
<!--</form>-->
<!--<div ng-messages="eventForm.$error">-->
    <!--<div ng-message-exp="['minlength', 'maxlength']">-->
        <!--The event name should be between 50 and 100 characters-->
    <!--</div>-->
<!--</div>-->






<div class="row clearfix">
    <form name="addNewForm" novalidate>
    <div class="col-lg-12 addNew-wrapper">
        <div class="row clearfix"><!---头-->
            <div class="col-lg-12 addNew-header">新增页面</div>
        </div>
        <div class="row clearfix">
            <div class="col-12-xs addNew-list-wrapper"><!--列表wrapper-->

                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">企业名称：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="name" type="text" name="name" required
                               ng-minlength="2" ng-maxlength="15" ng-pattern="/^[\u4e00-\u9fa5]{2,15}$/"
                        >

                        <span ng-messages="addNewForm.name.$error" ng-if="addNewForm.name.$dirty" class="addNew-form-alert">
                                <span ng-message="required">这是必填项</span>
                                <span ng-message="minlength">最小长度：2</span>
                                <span ng-message="maxlength">最大长度：15</span>
                                <span ng-message="pattern">格式：2-15个汉字</span>
                        </span>
                        <!--<span>{{ addNewForm.name.$error}}</span>-->
                    </div>
                </div>
                <div class="row" ng-if="pageType=='editPage'">
                    <div class="col-xs-2 addNew-list-header">id：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="id" type="text" name="id" placeholder="id"
                            ng-minlength="1" ng-maxlength="15" ng-pattern="/^\w|\d{1,15}$/"
                            readonly style="background:#eee">
                        <!--只读-->
                        <span ng-messages="addNewForm.id.$error" ng-if="addNewForm.id.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                            <span ng-message="minlength">最小长度：1</span>
                            <span ng-message="maxlength">最大长度：15</span>
                            <span ng-message="pattern">格式：1-15位数字</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">行业：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="industry" value="0" type="radio" name="industry" required>移动互联网</label>
                        <label><input ng-model="industry" value="1" type="radio" name="industry" required>电子商务</label>
                        <label><input ng-model="industry" value="2" type="radio" name="industry" required>企业服务</label>
                        <label><input ng-model="industry" value="3" type="radio" name="industry" required>O2O</label>
                        <label><input ng-model="industry" value="4" type="radio" name="industry" required>教育</label>
                        <label><input ng-model="industry" value="5" type="radio" name="industry" required>金融</label>
                        <label><input ng-model="industry" value="6" type="radio" name="industry" required>游戏</label>
                        <span ng-messages="addNewForm.industry.$error" ng-if="addNewForm.industry.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">公司标语：</div>
                    <div class="col-xs-10 addNew-list">
                        <input ng-model="slogan" type="text" name="slogan" required class="addNew-list-slogan">
                        <span ng-messages="addNewForm.solgan.$error" ng-if="addNewForm.solgan.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">认证状态：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="approved" value="0" type="radio" name="approved" required>未认证</label>
                        <label><input ng-model="approved" value="1" type="radio" name="approved" required>已认证</label>
                        <span ng-messages="addNewForm.approved.$error" ng-if="addNewForm.approved.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 addNew-list-header">融资规模：</div>
                    <div class="col-xs-10 addNew-list">
                        <label><input ng-model="financing" type="radio" value="0" name="financing" required>无需融资</label>
                        <label><input ng-model="financing" type="radio" value="1" name="financing" required>天使轮</label>
                        <label><input ng-model="financing" type="radio" value="2" name="financing" required>A轮</label>
                        <label><input ng-model="financing" type="radio" value="3" name="financing" required>B轮</label>
                        <label><input ng-model="financing" type="radio" value="4" name="financing" required>C轮</label>
                        <label><input ng-model="financing" type="radio" value="5" name="financing" required>D轮及以上</label>
                        <label><input ng-model="financing" type="radio" value="6" name="financing" required>上市公司</label>
                        <span ng-messages="addNewForm.financing.$error" ng-if="addNewForm.financing.$dirty" class="addNew-form-alert">
                            <span ng-message="required">这是必填项</span>
                        </span>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-2 addNew-list-header">预计入学时间：</div>-->
                    <!--<div class="col-xs-10 addNew-list">-->
                        <!--<input ng-model="joinTime" type="date" name="type" required class="addNew-list-joinTime">-->
                        <!--<span ng-messages="addNewForm.joinTime.$error" ng-if="addNewForm.joinTime.$dirty" class="addNew-form-alert">-->
                            <!--<span ng-message="required">这是必填项</span>-->
                        <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">公司介绍：</div>
                    <div class="col-xs-10 addNew-list"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-xs-12"><!--wangEditor-->
                        <div id="wangEditor" contenteditable="true" ng-model="summary" class="editor-introduction"> <p>{{summary}}</p></div>


                    </div>
                    <!--<div class="col-xs-12">-->
                        <!--&lt;!&ndash;<textarea class="textarea" ng-model="wish">富文本编辑器</textarea>&ndash;&gt;-->

                        <!--<script type="text/plain" id="myEditor" style="width:90%;height:240px;" gn-model="summary">-->
                            <!--<p>富文本编辑器功能还没实现</p>-->
                        <!--</script>-->

                        <!--<script type="text/javascript">-->
                            <!--//实例化编辑器-->
                            <!--var um = UM.getEditor('myEditor');-->
                        <!--</script>-->



                        <!--{{summary}}-->

                    <!--</div>-->
                </div>
                <div class="row clearfix">
                    <div class="col-xs-2 addNew-list-header">
                        <button class="btn btn-default addNew-confirm-btn" ng-click="submit()" ng-disabled="addNewForm.$invalid">{{add_edit}}</button>
                    </div>
                    <div class="col-xs-10 addNew-list">
                        <button class="btn btn-default addNew-cancel-btn" ng-click="toLastPage()">取消</button>
                    </div>
                </div>
                <div class="bottom-1"> </div>
            </div>
        </div>
    </div>
    </form>
</div>



<!--
name
string
添加的学员姓名
qq
string
qq号码
type
number
修真类型
school
string
毕业院校
talent
number
资质
level
number
修行等级
joinTime
number
预计入学时间
wish
string
修行立愿-->








