<!--<link rel="stylesheet" href="../bootstrap-3.3.0/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="../css/list.css">-->
<div class="listPage-wrapper"><!--//$scope.students-->
    <div class="row clearfix listPage-header">
         <div class="col-lg-12">
             <div class="">列表管理</div>
         </div>
    </div>
        <!--<div class="container">-->
    <div class="row clearfix listPage-search-wrapper">
        <div class="col-sm-3 column">
            行业
            <select ng-model="industry" name="industry" >
                <option value="" >全部</option>
                <option value="0">移动互联网</option>
                <option value="1">电子商务</option>
                <option value="2">企业服务</option>
                <option value="3">O2O</option>
                <option value="4">教育</option>
                <option value="5">金融</option>
                <option value="6">游戏</option>
            </select>
        </div>
        <div class="col-sm-3 column">
            认证
            <select ng-model="approved" name="approved">
                <option value="" selected="selected">全部</option>
                <option value="0">未认证</option>
                <option value="1">已认证</option>
            </select>
        </div>
        <div class="col-sm-4 column">
            融资规模
            <select ng-model="financing" name="financing">
                <option value="" selected="selected">全部</option>
                <option value="0">无需融资</option>
                <option value="1">天使轮</option>
                <option value="2">A轮</option>
                <option value="3">B轮</option>
                <option value="4">C轮</option>
                <option value="5">D轮及以上</option>
                <option value="6">上市公司</option>
            </select>
        </div>
        <div class="col-sm-1 column"></div>
        <div class="col-sm-1 column">
            <button class="btn btn-default btn-primary" type="button" ng-click="search()">搜索</button>
        </div>
    </div>
    <div class="listPage-detail-wrapper"><!--//内部的边框-->
        <div class="row clearfix listPage-detail-header">
            <div class="col-xs-2"> 内容列表</div>
            <div class="col-xs-9"></div>
            <div class="col-xs-1">
                <button class="btn btn-default listPage-detail-header-btn" ng-click="addNew()">新增</button>
            </div>
        </div>


        <table class="table table-striped">
            <div class="row clearfix listPage-detail-list-header">
                <div class=col-sm-2>公司id</div>
                <div class=col-sm-2>公司名称</div>
                <div class=col-sm-2>行业</div>
                <div class=col-sm-2>融资规模</div>
                <div class=col-sm-2>认证状态</div>
                <div class=col-sm-2>操作</div>
            </div>
            <div class="row clearfix listPage-detail-list"
                 ng-repeat="company in companyRes">
                <div class=col-sm-2>{{company.id}}</div>
                <div class=col-sm-2>{{company.name}}</div>
                <div class=col-sm-2>{{company.industryList[0] | industry}}</div>
                <div class=col-sm-2>{{company.financing | financing}}</div>
                <div class=col-sm-2>{{company.approved | approvedStatus}}</div>
                <div class=col-sm-2>
                    <div class="btn btn-xs btn-info listPage-detail-list-btn" ui-sref="tab.addNew({id:company.id})">编辑</div>
                    <div class="btn btn-xs btn-warning listPage-detail-list-btn" ng-click="delete(company.id,company.name)">删除</div>
                </div>
            </div>
        </table>
        <div class="row">
            <div class="col-xs-12 list-page-btn-wrapper">
                <div class="btn btn-primary" ng-click="pageUp()">上一页</div>
                <input type="text" value="{{page+'/'+sumPage()}}" readonly class="list-page-page">
                <div class="btn btn-primary" ng-click="pageNext()">下一页</div>
            </div>
        </div>
    </div>
</div>

<script src="../js/controller/list.js"></script>


    <!--&lt;!&ndash;使用bs&ndash;&gt;-->
<!--<div class="container">-->
    <!--<div class="row clearfix">-->
        <!--<div class="col-lg-2">&lt;!&ndash;左侧的列表&ndash;&gt;-->
            <!--<div>技能树LOGO</div>-->
            <!--<ul>&lt;!&ndash;折叠&ndash;&gt;-->
                <!--<li>-->
                    <!--<div>欢迎页</div>-->
                <!--</li>-->
                <!--<li>水站管理</li>-->
                <!--<li>送水工管理</li>-->
                <!--<li>客户管理</li>-->
                <!--<li>后台管理</li>-->
                <!--<li>后台管理</li>-->
                <!--<li>营销渠道</li>-->
                <!--<li>消息</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-lg-10">&lt;!&ndash;右侧的大部分内容&ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->

