<!--<link rel="stylesheet" href="bootstrap-3.3.0/css/bootstrap.css">-->
<!--<link rel="stylesheet" href="../css/tabPage.css">-->

<div class="container">
    <div class="row clearfix tab-header-wrapper">
        <div class="col-xs-6 column">
            <h4><b>后台管理系统</b></h4>
        </div>
        <div class="col-xs-1 column">
        </div>
        <div class="col-xs-3 column tab-header-admin">
           <p>管理员</p>
        </div>
        <div class="col-xs-2 column">
            <div class="btn btn-default btn-success " ng-click="signOut()">退出</div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-2 column">
            <div class="list-unstyled list-group">
                <a class="list-group-item" ui-sref=".addNew">添加成员页</a>
                <a class="list-group-item" ui-sref=".personInfo">个人信息页</a>
                <a class="list-group-item" ui-sref=".list">学员列表页</a>
            </div>
        </div>
        <div class="col-lg-10 column" ui-view="">
            <!--详情的地方-->
        </div>
    </div>
</div>



