.h-menu-img{
    float: left;
    width: .32rem;
    height: .32rem;
    margin: .16rem;
}
.h-close-img{
    float: right;
    width: .32rem;
    height: .32rem;
    margin: .16rem;
}
/**********mian**********/
#main{width: 100%;}
.m-tips-box{
    width:100%;
    line-height: 80px;
    background-color:#b9e9f5;
}
.m-tips-span{
    padding:0 0 0 60px;
}
.m-tips-audio--img{
    float: right;
    height:60px;
    width:60px;
    margin: 10px 10px 0 0;
}
.m-intro-box{
    line-height: 60px;
}
.m-intro-span{
    color: #fff;
    padding-left: 80px;
}
/*************select-box*************/
.m-select-box-group{
    width: 98%;
    /*height: 680px;*/
    margin: 0 auto;
    /*overflow: scroll;*/
}
.m-select-box{
    float:left;
    width: 33%;
}
.m-select-person-box{
    height: 126px;
    width: 126px;
    margin: 0 auto;
    border: 5px solid #fff;
}
.m-select-person-name{
    line-height: 99px;
    background-color:#f5c97b;
    text-align: center;
    font-size: 26px;
}
.m-select-person-number{
    line-height: 27px;
    background-color:#83b09a;
    text-align: center;
    font-size: 20px;
}
.m-select-role-box{
    width: 140px;
    height: auto;
    margin: 20px auto;
    position: relative;
    left: 2px;
}
.m-select-role-box img{
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.m-select-role-box{
    opacity: 0;

}
.m-select-role-box:hover{
    opacity:1
}
/*******页脚********/
.f-btn{
    display:block;
    width:70%;
    height: 80px;
    margin: 40px auto 60px auto ;
    background-color:gold;
}
body{padding-bottom: 180px;}



